

<nav class="navbar navbar-expand-lg py-3 border-bottom bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand " href="#">
         <img src="https://imgs.search.brave.com/kOYtkgF7Caf8sQUgeuI-Yymq1UcRIqn6hQptBmRZPgU/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5w/ejBmVS1oOERLdm90/Q2loYXpYXy1BSGFI/YSZwaWQ9QXBp" alt="" style = "border-radius: 50%;" width="50" height="50">
       {{data.brandName}}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto  mb-2 mb-lg-0">

        {{#each data.links}}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{this.url}}">{{this.label}}</a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</nav>



